html {
  font-size: 62.5%;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #3c4e65;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #666;
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  color: #333;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #d6e0e0;
  display: flex;
  flex-direction: column;
}
