:root {
  --sys-wid: 1279px;
  --pop-width: 800px;
  --cell-width: 85px;
  --sell-width: 75px;
  --edit-width: 1279px;

  --dashboard-bg: #061027;
  --dashboard-panel: rgba(13, 28, 50, 0.85);
  --dashboard-border: rgba(65, 132, 228, 0.6);
  --dashboard-text: #c9e2f7;
  --dashboard-highlight: #1890ff;
  --dashboard-secondary: #177ddc;
  --dashboard-header: #0a1929;
  --dashboard-card: rgba(16, 38, 71, 0.85);
  --dashboard-success: #52c41a;
  --dashboard-warning: #faad14;
  --dashboard-danger: #f5222d;
  --dashboard-glow: 0 0 10px rgba(24, 144, 255, 0.5);

  --clr-ch: #1db387;
  --clr-chg: #106349;
  --clr-chp: #4db0d4;
  --clr-chpg: #316e84;
  --clr-cwp: #ff6600;
  --clr-cwpg: #a04101;
  --clr-ct: #e91b4c;
  --clr-ctg: #8c122e;
  --clr-sys: #333;
  --clr-main: #0a873c;

  --fil-alarm: brightness(0) saturate(100%) invert(14%) sepia(97%) saturate(5046%) hue-rotate(357deg) brightness(82%)
    contrast(115%);
  --sd-md: 4px 4px 8px rgba(0, 0, 0, 0.4), -4px -4px 6px rgba(0, 0, 0, 0.2);
  --sd-sm: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.16);
}

@font-face {
  font-family: "val";
  src: url("/font/RigidSquare.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
